body{
    background:rgb(220, 220, 233);
}

/* --- Navigation Bar --- */
.items{
    text-decoration: none;
    border-style: solid;
    border-radius: 8px;
    background-color: black;
}

.list a{
    text-decoration: none;
    color: white;
}

.item{
    font-family: sans-serif;
    font-style: normal;
    font-size: 18px;
    display: inline;
    padding-left: 5%;
}

.para{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 8px;
    background-color: deepskyblue;
    border-style: solid;
    border-width: 8px;
    border-radius: 12px;
    border-color: deepskyblue;
    text-align: center;
    letter-spacing: 1px;
    text-transform: initial;
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
    
}

a{
    letter-spacing: 1px;
}

/* --- Navigation Bar Effect --- */
a:hover{
     background-color: green;
     color: white;
     font-size: 1.5em; 
}

.con{
    text-align: left;

}

.cr{
    text-align: right;
    margin-top: 280px;
}

